.search__result-list {
    position: relative;

    .list__item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        border-bottom: 0.5px solid var(--color-border);
        img {
            width: 2.5rem;
        }
        p {
            margin: 0;
            font-size: var(--fs-medium);
        }
    }

    .list__item:hover {
        background-color: var(--color-list-hover);
    }

    .no__result {
        font-size: var(--fs-small);
    }
}