.paginated__list-component {
    .git__files-tree {
        padding-bottom: 5rem;
    }
    .pagination {
        padding: 1rem;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 999;
        background-color: var(--color-light);
        ul {
            padding: 0;
            margin: 0 0.5rem;
            display: flex;
            gap: 0.5rem;
            li {
                list-style-type: none;
                display: flex;
                cursor: pointer;
                border: 1px solid var(--color-border);
                border-radius: 0.25rem;
                padding: 0.15rem 0.50rem;
                a {
                    font-size: var(--fs-small);
                    cursor: pointer;
                }
                &.selected, &:hover {
                    background-color: var(--color-success);
                    a {
                        color: var(--color-light);
                    }
                }

                &.disabled {
                    opacity: 0.3;
                }

                &.previous, &.next {
                    text-decoration: none;
                    color: var(--color-dark);
                    border: 1px solid var(--color-border);
                    border-radius: 0.25rem;
            
                    &:hover {
                        background-color: var(--color-success);
                        color: var(--color-light);
                    }
                }
            }
        }
    }
}